@import '../functions';
@import '../../variables';
@import '../../functions/with-alpha';

$dark: (
  // Colors
  primary-color: color(denim),
  primary-color-hover: color(veniceBlue),
  primary-color-selected: color(catalinaBlue),
  primary-color-selected-hover: color(deepSapphire),
  positive-color: color(laPalma),
  positive-color-hover: color(dell),
  positive-color-selected: color(greenHouse),
  positive-color-selected-hover: color(darkFern),
  negative-color: color(cinnabar),
  negative-color-hover: color(mexicanRed),
  negative-color-selected: color(oldBrick),
  negative-color-selected-hover: color(darkTan),
  warning-color: color(lightningYellow),
  warning-color-hover: color(goldTips),
  warning-color-selected: color(butteredRum),
  warning-color-selected-hover: color(yukonGold),
  brand-color: color(redViolet),
  brand-color-hover: color(jazzberryJam),
  brand-color-selected: color(cardinalPink),
  brand-color-selected-hover: color(tyrianPurple),
  private-color: color(brinkPink),
  shareable-color: color(mediumPurple),
  // Backgrounds
  primary-background-color: color(mirage),
  secondary-background-color: color(gunPowder),
  primary-background-color-hover: color(comet),
  disabled-background-color: color(scarpaFlow),
  inverted-background-color: color(white),
  grey-background-color: color(mirage),
  allgrey-background-color: color(gunPowder),
  // Text
  primary-text-color: color(botticelli),
  secondary-text-color: color(santasGray),
  secondary-text-on-secondary-color: color(santasGray),
  text-color-on-inverted: color(mineShaft),
  text-color-on-primary: color(white),
  text-color-on-brand: color(white),
  disabled-text-color: with-alpha(color(ghost), $disabled-component-opacity),
  placeholder-color: color(frenchGray),
  link-color: color(cornflowerBlue),
  // Border
  ui-border-color: color(waterloo),
  layout-border-color: color(scarpaFlow),
  // Content colors
  color-snow_white: #fff,
  color-snow_white-hover: #f2f2f2,
  color-snow_white-selected: #fff,
  color-marble: #f8f8f8,
  color-marble-hover: #ebebeb,
  color-marble-selected: #fafafa,
  color-dark_marble: #f1f1f1,
  color-dark_marble-hover: #dcdcdc,
  color-dark_marble-selected: #f5f5f5,
  color-glitter: #d9f0ff,
  color-glitter-hover: #b3d9ff,
  color-glitter-selected: #e6f5ff,
  color-gainsboro: #e1e1e1,
  color-gainsboro-hover: #cfcfcf,
  color-gainsboro-selected: #ebebeb,
  color-american_gray: #999,
  color-american_gray-hover: #69696a,
  color-american_gray-selected: #4e505e,
  color-blackish: #5c5c5c,
  color-blackish-hover: #222,
  color-blackish-selected: #272937,
  color-pecan: #786565,
  color-pecan-hover: #605151,
  color-pecan-selected: #4a4148,
  color-brown: #99756c,
  color-brown-hover: #684943,
  color-brown-selected: #4d3941,
  color-coffee: #ca9a8b,
  color-coffee-hover: #a27b6f,
  color-coffee-selected: #795e5d,
  color-tan: #bdab95,
  color-tan-hover: #978977,
  color-tan-selected: #716863,
  color-orchid: #e190c0,
  color-orchid-hover: #ae5d8d,
  color-orchid-selected: #b4739a,
  color-lilac: #b1adc7,
  color-lilac-hover: #8e8a9f,
  color-lilac-selected: #6b697f,
  color-steel: #bacbed,
  color-steel-hover: #95a2be,
  color-steel-selected: #707a95,
  color-lavender: #cab9fa,
  color-lavender-hover: #a294c8,
  color-lavender-selected: #85597b,
  color-royal: #5591ea,
  color-royal-hover: #4474bb,
  color-royal-selected: #375993,
  color-teal: #457b82,
  color-teal-hover: #376268,
  color-teal-selected: #2e4d58,
  color-sky: #b4e9f8,
  color-sky-hover: #90bac6,
  color-sky-selected: #6c8a9a,
  color-explosive: #d0d0d0,
  color-explosive-hover: #98999a,
  color-explosive-selected: #70717f,
  color-river: #86b4ca,
  color-river-hover: #588095,
  color-river-selected: #42607c,
  color-winter: #aebdca,
  color-winter-hover: #7b8895,
  color-winter-selected: #5b667c,
  color-chili_blue: #85d6ff,
  color-chili_blue-hover: #569ec3,
  color-chili_blue-selected: #41759d,
  color-aquamarine: #71d6d1,
  color-aquamarine-hover: #469e9b,
  color-aquamarine-selected: #357580,
  color-bright_blue: #79affd,
  color-bright_blue-hover: #4c7cc1,
  color-bright_blue-selected: #395d9b,
  color-dark_blue: #339ecd,
  color-dark_blue-hover: #0f6d97,
  color-dark_blue-selected: #0e527e,
  color-navy: #4e73a7,
  color-navy-hover: #274776,
  color-navy-selected: #1f3866,
  color-dark_indigo: #401694,
  color-dark_indigo-hover: #3c1f78,
  color-dark_indigo-selected: #2e1b67,
  color-indigo: #777ae5,
  color-indigo-hover: #4b4ead,
  color-indigo-selected: #383c8d,
  color-berry: #6645a9,
  color-berry-hover: #673971,
  color-berry-selected: #4d2d62,
  color-dark_red: #c95c76,
  color-dark_red-hover: #92334c,
  color-dark_red-selected: #6b2947,
  color-stuck_red: #e8697d,
  color-stuck_red-hover: #ad3f51,
  color-stuck_red-selected: #7f314b,
  color-sunset: #ff9191,
  color-sunset-hover: #c26163,
  color-sunset-selected: #8d4a58,
  color-sunset-selected-with-opacity: rgba(141 74 88 / 60%),
  color-dark_orange: #ff7b4d,
  color-dark_orange-hover: #c25531,
  color-dark_orange-selected: #8d4134,
  color-working_orange: #fdbc64,
  color-working_orange-hover: #c0873c,
  color-working_orange-selected: #8c653c,
  color-egg_yolk: #ffd533,
  color-egg_yolk-hover: #c29e11,
  color-egg_yolk-selected: #8d751e,
  color-peach: #ffbdbd,
  color-peach-hover: #c2888a,
  color-peach-selected: #8d6674,
  color-lipstick: #ff7bd0,
  color-lipstick-hover: #c24e9a,
  color-lipstick-selected: #8d3c7f,
  color-sofia_pink: #ff44a1,
  color-sofia_pink-hover: #c21e71,
  color-sofia_pink-selected: #8d1a62,
  color-bubble: #fbb4f4,
  color-bubble-hover: #be80ba,
  color-bubble-selected: #8b6096,
  color-purple: #b57de3,
  color-purple-hover: #8050ab,
  color-purple-selected: #5f3e8b,
  color-dark_purple: #936fda,
  color-dark_purple-hover: #6344a3,
  color-dark_purple-selected: #5f3e8b,
  color-grass_green: #359970,
  color-grass_green-hover: #116846,
  color-grass_green-selected: #0f4f43,
  color-done_green: #33d391,
  color-done_green-hover: #0f9b63,
  color-done_green-selected: #0e7358,
  color-done_green-selected-with-opacity: rgba(14 115 88 / 60%),
  color-bright_green: #b0dc51,
  color-bright_green-hover: #7ca32b,
  color-bright_green-selected: #5c7930,
  color-saladish: #d5c567,
  color-saladish-hover: #9d8f3e,
  color-saladish-selected: #736e3e
);
