@import '../functions';
@import '../../variables';
@import '../../functions/with-alpha';

$light: (
  // Colors
  primary-color: color(denim),
  primary-color-hover: color(veniceBlue),
  primary-color-selected: color(anakiwa),
  primary-color-selected-hover: color(malibu),
  positive-color: color(laPalma),
  positive-color-hover: color(dell),
  positive-color-selected: color(pixieGreen),
  positive-color-selected-hover: color(mossGreen),
  negative-color: color(cinnabar),
  negative-color-hover: color(mexicanRed),
  negative-color-selected: color(beautyBush),
  negative-color-selected-hover: color(roseBud),
  warning-color: color(lightningYellow),
  warning-color-hover: color(goldTips),
  warning-color-selected: color(creamBrulee),
  warning-color-selected-hover: color(corvette),
  brand-color: color(redViolet),
  brand-color-hover: color(jazzberryJam),
  brand-color-selected: color(cottonCandy),
  brand-color-selected-hover: color(hotPink),
  private-color: color(brinkPink),
  shareable-color: color(mediumPurple),
  // Backgrounds
  primary-background-color: color(white),
  secondary-background-color: color(wildSand),
  primary-background-color-hover: color(mystic),
  disabled-background-color: color(linkWater),
  inverted-background-color: color(black),
  grey-background-color: color(gallery),
  allgrey-background-color: color(gallery),
  // Text
  primary-text-color: color(mineShaft),
  secondary-text-color: color(midGray),
  secondary-text-on-secondary-color: color(midGray),
  text-color-on-inverted: color(white),
  text-color-on-primary: color(white),
  text-color-on-brand: color(white),
  disabled-text-color: with-alpha(color(mineShaft), $disabled-component-opacity),
  placeholder-color: color(midGray),
  link-color: color(curiousBlue),
  // Border
  ui-border-color: color(frenchGray),
  layout-border-color: color(botticelli),
  // Content colors
  color-snow_white: #fff,
  color-snow_white-hover: #f2f2f2,
  color-snow_white-selected: #fff,
  color-marble: #f8f8f8,
  color-marble-hover: #ebebeb,
  color-marble-selected: #fafafa,
  color-dark_marble: #f1f1f1,
  color-dark_marble-hover: #dcdcdc,
  color-dark_marble-selected: #f5f5f5,
  color-glitter: #d9f0ff,
  color-glitter-hover: #b3d9ff,
  color-glitter-selected: #e6f5ff,
  color-gainsboro: #e1e1e1,
  color-gainsboro-hover: #cfcfcf,
  color-gainsboro-selected: #ebebeb,
  color-american_gray: #808080,
  color-american_gray-hover: #69696a,
  color-american_gray-selected: #bfbfbf,
  color-blackish: #333,
  color-blackish-hover: #222,
  color-blackish-selected: #999,
  color-pecan: #563e3e,
  color-pecan-hover: #453232,
  color-pecan-selected: #ab9f9f,
  color-brown: #7f5347,
  color-brown-hover: #684943,
  color-brown-selected: #bfa9a3,
  color-coffee: #bd816e,
  color-coffee-hover: #976758,
  color-coffee-selected: #dec8b7,
  color-tan: #ad967a,
  color-tan-hover: #8a7862,
  color-tan-selected: #d6cabc,
  color-orchid: #d974b0,
  color-orchid-hover: #ae5d8d,
  color-orchid-selected: #ecbad7,
  color-lilac: #9d99b9,
  color-lilac-hover: #7e7a94,
  color-lilac-selected: #ceccdc,
  color-steel: #a9bee8,
  color-steel-hover: #8798ba,
  color-steel-selected: #d4dff4,
  color-lavender: #bda8f9,
  color-lavender-hover: #9786c7,
  color-lavender-selected: #ded4fc,
  color-royal: #2b76e5,
  color-royal-hover: #225eb7,
  color-royal-selected: #95bbf2,
  color-teal: #175a63,
  color-teal-hover: #12484f,
  color-teal-selected: #8bacb1,
  color-sky: #a1e3f6,
  color-sky-hover: #81b6c5,
  color-sky-selected: #d0f1fa,
  color-explosive: #c4c4c4,
  color-explosive-hover: #98999a,
  color-explosive-selected: #e1e1e1,
  color-river: #68a1bd,
  color-river-hover: #588095,
  color-river-selected: #b3d0de,
  color-winter: #9aadbd,
  color-winter-hover: #7b8895,
  color-winter-selected: #ccd6de,
  color-chili_blue: #6cf,
  color-chili_blue-hover: #569ec3,
  color-chili_blue-selected: #b2e5ff,
  color-aquamarine: #4eccc6,
  color-aquamarine-hover: #469e9b,
  color-aquamarine-selected: #a6e5e2,
  color-bright_blue: #579bfc,
  color-bright_blue-hover: #4c7cc1,
  color-bright_blue-selected: #abcdfd,
  color-dark_blue: #0086c0,
  color-dark_blue-hover: #0f6d97,
  color-dark_blue-selected: #80c2df,
  color-navy: #225091,
  color-navy-hover: #274776,
  color-navy-selected: #90a7c8,
  color-dark_indigo: #401694,
  color-dark_indigo-hover: #3c1f78,
  color-dark_indigo-selected: #a08bc9,
  color-indigo: #5559df,
  color-indigo-hover: #4b4ead,
  color-indigo-selected: #aaacef,
  color-berry: #7e3b8a,
  color-berry-hover: #673971,
  color-berry-selected: #be9dc4,
  color-dark_red: #bb3354,
  color-dark_red-hover: #92334c,
  color-dark_red-selected: #dd99a9,
  color-stuck_red: #e2445c,
  color-stuck_red-hover: #ad3f51,
  color-stuck_red-selected: #f0a1ad,
  color-sunset: #ff7575,
  color-sunset-hover: #c26163,
  color-sunset-selected: #ffbaba,
  color-sunset-selected-with-opacity: rgba(255 186 186 / 60%),
  color-dark_orange: #ff642e,
  color-dark_orange-hover: #c25531,
  color-dark_orange-selected: #ffb196,
  color-working_orange: #fdab3d,
  color-working_orange-hover: #c8873c,
  color-working_orange-selected: #fed59e,
  color-egg_yolk: #ffcb00,
  color-egg_yolk-hover: #c29e11,
  color-egg_yolk-selected: #ffe580,
  color-peach: #ffadad,
  color-peach-hover: #c2888a,
  color-peach-selected: #ffd6d6,
  color-lipstick: #ff5ac4,
  color-lipstick-hover: #c24e9a,
  color-lipstick-selected: #fface1,
  color-sofia_pink: #ff158a,
  color-sofia_pink-hover: #c21e71,
  color-sofia_pink-selected: #ff8ac4,
  color-bubble: #faa1f1,
  color-bubble-hover: #be80ba,
  color-bubble-selected: #fcd0f8,
  color-purple: #a25ddc,
  color-purple-hover: #8050ab,
  color-purple-selected: #d0aeed,
  color-dark_purple: #784bd1,
  color-dark_purple-hover: #6344a3,
  color-dark_purple-selected: #bba5e8,
  color-grass_green: #037f4c,
  color-grass_green-hover: #116846,
  color-grass_green-selected: #81bfa5,
  color-done_green: #00c875,
  color-done_green-hover: #0f9b63,
  color-done_green-selected: #80e3ba,
  color-done_green-selected-with-opacity: rgba(128 227 186 / 60%),
  color-bright_green: #9cd326,
  color-bright_green-hover: #7ca32b,
  color-bright_green-selected: #cde992,
  color-saladish: #cab641,
  color-saladish-hover: #9d8f3e,
  color-saladish-selected: #e4daa0
);
