@use 'sass:list';

$motion-productive-short: 70ms;
$motion-productive-medium: 100ms;
$motion-productive-long: 150ms;

$motion-expressive-short: 250ms;
$motion-expressive-long: 400ms;

$motion-timing-enter: cubic-bezier(0, 0, 0.35, 1);
$motion-timing-exit: cubic-bezier(0.4, 0, 1, 1);
$motion-timing-transition: cubic-bezier(0.4, 0, 0.2, 1);
$motion-timing-emphasize: cubic-bezier(0, 0, 0.2, 1.4);

$expand-animation-timing: $motion-timing-enter;

$tooltip-z-index: 5;

$border-width: 1px;
$border-style: solid;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

$box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
$box-shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-medium: 0px 6px 20px rgba(0, 0, 0, 0.2);
$box-shadow-large: 0px 15px 50px rgba(0, 0, 0, 0.3);

$spacing-xs: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;

$disabled-component-opacity: 38%;

$font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto', sans-serif;

$font-smoothing-webkit: antialiased;
$font-smoothing-moz: grayscale;

$font-weight-very-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-very-bold: 600;
$font-weight-extra-bold: 700;

$font-size-10: 14px;
$font-size-20: 14px;
$font-size-30: 16px;
$font-size-40: 18px;
$font-size-50: 24px;
$font-size-60: 30px;
$font-size-70: 36px;
$font-size-80: 42px;

$font-line-height-10: 18px;
$font-line-height-20: 24px;
$font-line-height-30: 24px;
$font-line-height-40: 24px;
$font-line-height-50: 32px;
$font-line-height-60: 40px;
$font-line-height-70: 48px;
$font-line-height-80: 56px;

$font-size-h1: $font-size-70;
$font-size-h2: $font-size-60;
$font-size-h3: $font-size-50;
$font-size-h4: $font-size-40;
$font-size-h5: $font-size-30;
$font-size-h6: $font-size-30;
$font-size-general-label: $font-size-20;
$font-size-paragraph: $font-size-30;
$font-size-subtext: $font-size-10;

$font-line-height-h1: $font-line-height-70;
$font-line-height-h2: $font-line-height-60;
$font-line-height-h3: $font-line-height-50;
$font-line-height-h4: $font-line-height-40;
$font-line-height-h5: $font-line-height-30;
$font-line-height-h6: $font-line-height-30;
$font-line-height-general-label: $font-line-height-20;
$font-line-height-paragraph: $font-line-height-30;
$font-line-height-subtext: $font-line-height-10;

$font-h1: $font-weight-bold list.slash($font-size-h1, $font-line-height-h1)
  $title-font-family;
$font-h2: $font-weight-bold list.slash($font-size-h2, $font-line-height-h2)
  $title-font-family;
$font-h3: $font-weight-bold list.slash($font-size-h3, $font-line-height-h3)
  $title-font-family;
$font-h4: $font-weight-bold list.slash($font-size-h4, $font-line-height-h4)
  $title-font-family;
$font-h5: $font-weight-bold list.slash($font-size-h5, $font-line-height-h5)
  $title-font-family;
$font-h6: $font-weight-bold list.slash($font-size-h6, $font-line-height-h6)
  $title-font-family;
$font-general-label: $font-weight-bold
  list.slash($font-size-general-label, $font-line-height-general-label)
  $font-family;
$font-paragraph: $font-weight-normal
  list.slash($font-size-paragraph, $font-line-height-paragraph) $font-family;
$font-subtext: $font-weight-light
  list.slash($font-size-subtext, $font-line-height-subtext) $font-family;

$font-h1-bold: $font-weight-extra-bold
  list.slash($font-size-h1, $font-line-height-h1) $title-font-family;
$font-h1-normal: $font-weight-bold
  list.slash($font-size-h1, $font-line-height-h1) $title-font-family;
$font-h1-light: $font-weight-light
  list.slash($font-size-h1, $font-line-height-h1) $title-font-family;

$font-h2-bold: $font-weight-extra-bold
  list.slash($font-size-h2, $font-line-height-h2) $title-font-family;
$font-h2-normal: $font-weight-bold
  list.slash($font-size-h2, $font-line-height-h2) $title-font-family;
$font-h2-light: $font-weight-light
  list.slash($font-size-h2, $font-line-height-h2) $title-font-family;

$font-h3-bold: $font-weight-extra-bold
  list.slash($font-size-h3, $font-line-height-h3) $title-font-family;
$font-h3-normal: $font-weight-bold
  list.slash($font-size-h3, $font-line-height-h3) $title-font-family;
$font-h3-light: $font-weight-light
  list.slash($font-size-h3, $font-line-height-h3) $title-font-family;

$font-h4-bold: $font-weight-extra-bold
  list.slash($font-size-h4, $font-line-height-h4) $title-font-family;
$font-h4-normal: $font-weight-bold
  list.slash($font-size-h4, $font-line-height-h4) $title-font-family;
$font-h4-light: $font-weight-light
  list.slash($font-size-h4, $font-line-height-h4) $title-font-family;

$font-h5-bold: $font-weight-extra-bold
  list.slash($font-size-h5, $font-line-height-h5) $title-font-family;
$font-h5-normal: $font-weight-bold
  list.slash($font-size-h5, $font-line-height-h5) $title-font-family;
$font-h5-light: $font-weight-light
  list.slash($font-size-h5, $font-line-height-h5) $title-font-family;

$font-h6-bold: $font-weight-extra-bold
  list.slash($font-size-h6, $font-line-height-h6) $title-font-family;
$font-h6-normal: $font-weight-bold
  list.slash($font-size-h6, $font-line-height-h6) $title-font-family;
$font-h6-light: $font-weight-light
  list.slash($font-size-h6, $font-line-height-h6) $title-font-family;

$font-medium-bold: $font-weight-extra-bold
  list.slash($font-size-30, $font-line-height-30) $font-family;
$font-medium-normal: $font-weight-bold
  list.slash($font-size-30, $font-line-height-30) $font-family;
$font-medium-light: $font-weight-light
  list.slash($font-size-30, $font-line-height-30) $font-family;

$font-small-bold: $font-weight-extra-bold
  list.slash($font-size-20, $font-line-height-20) $font-family;
$font-small-normal: $font-weight-bold
  list.slash($font-size-20, $font-line-height-20) $font-family;
$font-small-light: $font-weight-light
  list.slash($font-size-20, $font-line-height-20) $font-family;

$letter-spacing-h1-bold: -0.5px;
$letter-spacing-h1-normal: -0.5px;
$letter-spacing-h1-light: -0.5px;
$letter-spacing-h2-bold: -0.1px;
$letter-spacing-h2-normal: -0.1px;
$letter-spacing-h2-light: -0.1px;
$letter-spacing-h3-bold: -0.1px;
$letter-spacing-h3-normal: -0.1px;
$letter-spacing-h3-light: -0.1px;
$letter-spacing-h4-bold: 0px;
$letter-spacing-h4-normal: 0px;
$letter-spacing-h4-light: 0px;
$letter-spacing-h5-bold: 0px;
$letter-spacing-h5-normal: 0px;
$letter-spacing-h5-light: 0px;
$letter-spacing-h6-bold: 0px;
$letter-spacing-h6-normal: 0px;
$letter-spacing-h6-light: 0px;
